:root{
    --color-fondo-nav: rgb(218,172,0);
    --tipo-de-letra: 'Poppins', verdana;
    --color-en-amarillo: white;
    --fondo-articulos-impares: rgb(252,195,2);
}

/* estilos para la barra de navegacion */
header{
    background-color: var(--color-fondo-nav);
    min-width: 320px;
}

nav{
    display: flex;
    height: 6rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-logo{
    display: flex;
}

.logo-nav{
    width: 4rem;
    height: 4rem;
}

ul{
    display:flex;
    padding: 0;
    list-style: none;
    font-family: var(--tipo-de-letra);
    flex-wrap: wrap;
}

.menu-nav{
    color: var(--color-en-amarillo);
    margin: 3em;
    text-decoration: none;
    font-size: 1.5em;
}

.nombre-empresa{
    color: var(--color-en-amarillo);
    font-family: var(--tipo-de-letra);
    margin: auto .5em;
    font-size: 1.5em;
}



